/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
h2{
    font-family: Raleway;
    font-size: 28px;
    font-weight: 800;
    color: white;
}

h3{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 10px;

}

.hlavni-recept{
position: relative;
background-image: url(images/burger.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 200px;
}
.recept-meta{
display: flex;
justify-content: space-between;
padding: 10px;
}
.nazev{
position: absolute;
left: 10px;
bottom: -10px;
}


.recepty{
    display: block;
}

.recept2{ 
    position: relative;
   
background-image: url(images/sushi.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 90px;
    }
    
.recept3{
    position: relative;
    
background-image: url(images/kure.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 90px;
        }

.recept4{  
    position: relative;
  
background-image: url(images/rajcata.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 90px;
            }
.recept5{  
    position: relative;
  
background-image: url(images/grilovani.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 90px;
}
.recept-nazev{
    position: absolute;
    bottom: -20px;
 }

 @media (min-width: 640px){
.recepty{
display: flex;
flex-wrap: wrap;
justify-content: space-between;

 }
.recept{
display: flex;
position: relative;
flex-basis: calc(100% / 2);
height: 150px;
}
.hlavni-recept{
    display: flex;
    position: relative;
}
.recept-komentare{
    position: absolute;
    right: 20px;
}
.recept-kategorie{
    position: absolute;
    left: 20px;
}
.nazev{
    font-size: 36px;
    position: absolute;
    left: 20px;
    bottom: -10px;
}
.recept-nazev{
    position: absolute;
    font-size: 22px;
    left: 20px;
    bottom: -20px;
}
.hlavni-recept{
height: 250px;
    }
}

@media (min-width: 960px){
.doporucujeme{
    display: flex;
}
.recepty{
    display: flex;
    flex-grow: 1;
}
.hlavni-recept{
    display: flex;
    flex-grow: 1;
    height: 400px;
}
.recept{
    height: 200px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 28px;



}
}
